.d3-tip {
  line-height: 1;
  padding: 6px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  background:grey;
  z-index: 100;
}

.slds-accordion__summary-heading{
  font-size: 0.87em;
}
.slds-accordion__section{
  padding: 0.35em;
}