/* Footer Start */
.footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7e7e7e;
  background-color: inherit;
}

/* Footer Top Start */
.footer .footer-top {
  color: inherit;
  background-color: #404040;
  padding: 50px 132px;
}
.footer .footer-top .footer-top-inner {
  max-width: 1000px;
  margin: 0 auto;
  background-color: inherit;
}
/* Footer Logo Start */
.footer .footer-top .footer-top-inner .footer-top-logo {
  position: relative;
}
.footer .footer-top .footer-top-inner .footer-top-logo::after {
  content: "";
  width: 1px;
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #7e7e7e;
}
.footer .footer-top .footer-top-inner .footer-top-logo .footer-logo {
  width: 267px;
  margin: 0 0 30px 0;
  display: block;
}
.footer .footer-top .footer-top-inner .footer-top-logo .footer-logo img {
  width: 100%;
  display: block;
}
/* Footer Logo End */

/* Footer Address Start */
.footer .footer-top .footer-top-inner .footer-address span {
  display: block;
}
.footer .footer-top .footer-top-inner .footer-address-one {
  margin: 0 0 30px 0;
}
.footer .footer-top .footer-top-inner .footer-address p {
  font-size: 16px;
  line-height: 19px;
  color: #7e7e7e;
  background-color: inherit;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.footer .footer-top .footer-top-inner .footer-address p a {
  color: #7e7e7e;
  background-color: inherit;
}
.footer .footer-top .footer-top-inner .footer-address p a:hover {
  color: rgb(126 126 126 / 80%);
  background-color: inherit;
  text-decoration: none;
}
/* Footer Address End */

/* Footer Top Menu Start */
.footer .footer-top .footer-top-inner .footer-top-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.footer .footer-top .footer-top-inner .footer-top-menu ul li {
  padding: 0;
  margin: 0 0 18px 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  color: #7e7e7e;
  background-color: inherit;
}
.footer .footer-top .footer-top-inner .footer-top-menu ul li:last-child {
  margin-bottom: 0;
}
.footer .footer-top .footer-top-inner .footer-top-menu ul li a {
  color: #7e7e7e;
  background-color: inherit;
}
.footer .footer-top .footer-top-inner .footer-top-menu ul li a:hover {
  color: rgb(126 126 126 / 80%);
  background-color: inherit;
  text-decoration: none;
}
.footer .footer-top .footer-top-inner .footer-top-menu ul li.active a {
  color: rgb(126 126 126 / 80%);
  background-color: inherit;
}

.footer .footer-top .footer-top-inner .footer-top-social-icons ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.footer .footer-top .footer-top-inner .footer-top-social-icons ul li {
  padding: 0;
  margin: 0 5px 0 0;
  list-style: none;
}
.footer .footer-top .footer-top-inner .footer-top-social-icons ul li:last-child {
    margin-right: 0;
}
.footer .footer-top .footer-top-inner .footer-top-social-icons ul li a {
  display: block;
}
.footer .footer-top .footer-top-inner .footer-top-social-icons ul li a img {
  display: block;
  width: 100%;
}
.footer
  .footer-top
  .footer-top-inner
  .footer-top-social-icons
  ul
  li
  a:hover
  img {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
/* Footer Top Menu End */

/* Footer Top End */

/* Footer Bottom Start */
.footer .footer-bottom {
  color: inherit;
  background-color: #373737;
  padding: 15px 132px 15px 132px;
}
.footer .footer-bottom .footer-bottom-inner {
  max-width: 1000px;
  margin: 0 auto;
}

.footer .footer-bottom .footer-bottom-inner ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.footer .footer-bottom .footer-bottom-inner ul li {
  padding: 0 10px 0 0;
  margin: 0 0 0 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
  background-color: inherit;
  position: relative;
}
.footer .footer-bottom .footer-bottom-inner ul li + li {
  padding: 0 10px;
}
.footer .footer-bottom .footer-bottom-inner ul li::after {
  content: "";
  width: 1px;
  position: absolute;
  right: -1px;
  top: 2px;
  height: 18px;
  background-color: #626262;
}
.footer .footer-bottom .footer-bottom-inner ul li:last-child::after {
  display: none;
}
.footer .footer-bottom .footer-bottom-inner ul li:last-child {
    padding-right: 0;
  }
.footer .footer-bottom .footer-bottom-inner ul li a {
  color: #626262;
  background-color: inherit;
}
.footer .footer-bottom .footer-bottom-inner ul li a:hover {
  color: rgb(98 98 98 / 80%);
  background-color: inherit;
  text-decoration: none;
}
.footer .footer-bottom .footer-bottom-inner ul li.active a {
  color: rgb(98 98 98 / 80%);
  background-color: inherit;
}

.footer .footer-bottom .footer-bottom-inner .footer-bottom-right {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
/* Footer Bottom End */
/* Footer End */



.site-footer {
  background: #d9eff9;
  clear: both;
  color: #494a50;
  font-family: Libre Franklin, sans-serif;
  line-height: 1;
  padding-bottom: 40px;
  padding-top: 60px
}

.site-footer .link-column dt {
  font-family: Libre Franklin, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5
}

.site-footer .copyright p {
  font-family: Libre Franklin, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5
}

.site-footer div,
.site-footer dl,
.site-footer dt {
  border: 0;
  font-weight: 400;
  margin: 0;
  padding: 0
}

.site-footer .inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1134px
}

.site-footer ul {
  list-style: none;
  margin: unset;
  padding: unset
}

.site-footer .first-columns {
  display: grid;
  gap: 40px;
  padding-bottom: 30px
}

.site-footer .branding-column {
  display: grid;
  grid-template-columns: 1fr
}

.site-footer .social-networks li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: .75em
}

.site-footer .social-networks li a {
  color: #03c
}

.site-footer .social-networks li a:hover {
  color: #029eda
}

.site-footer .social-networks li svg {
  fill: currentcolor;
  height: 1.75rem;
  width: 1.75rem
}

.site-footer .link-column dt,
.site-footer .link-column li {
  margin-bottom: 1em
}

.site-footer .link-column a {
  color: #03c;
  text-decoration: none
}

.site-footer .link-column a:hover {
  text-decoration: underline
}

.site-footer .second-columns {
  border-top: 1px solid rgba(0, 0, 0, .25);
  display: grid;
  gap: 40px;
  padding-top: 30px
}

.site-footer .second-columns a {
  font-weight: 700;
  text-decoration: none;
  text-underline-offset: .2em
}

.site-footer .second-columns a:focus,
.site-footer .second-columns a:hover {
  color: currentcolor;
  text-decoration: underline
}

.site-footer .last-links li {
  display: inline-block;
  margin-right: 1em
}

.site-footer .copyright {
  padding-right: 20px
}

.site-footer .copyright p {
  line-height: 150%;
  margin-bottom: 1.5em
}

@media (max-width:1174px) {
  .site-footer .inner {
      padding-left: 20px;
      padding-right: 20px;
      width: 100%
  }
}

@media (min-width:861px) {
  .site-footer .mobile-logo {
      display: none
  }

  .site-footer .first-columns {
      grid-template-columns: 3fr 2fr 2fr 2fr
  }

  .site-footer .branding-column {
      gap: 20px
  }

  .site-footer .site-logo {
      max-width: 240px
  }

  .site-footer .second-columns {
      grid-template-columns: 4fr 9fr
  }
}

@media (max-width:860px) {
  .site-footer .inner {
      width: auto
  }

  .site-footer .branding-column {
      gap: 40px;
      text-align: center
  }

  .site-footer .mobile-logo {
      display: none
  }

  .site-footer .site-logo {
      max-width: 200px
  }

  .site-footer .social-networks {
      padding-top: 20px;
      text-align: center
  }

  .site-footer .link-column {
      margin: 0 auto;
      text-align: center
  }

  .site-footer .second-columns {
      padding: 0;
      text-align: center
  }
}